<%- include("partials/header"); -%>
<h1>About me</h1>
<p class = "about">Hello! My name's Diana and I am fond of science and programming. I live in St. Petersburg and finishing my master's degree at St. Petersburg State University. Here I'll write notes about my life, as well as small stories. I hope you enjoy learning a little more about me. If you want to know something additional or ask, then write to me (contact me tab). Also, I am always glad to meet new people. Let me know if you want to go to a museum or go for a walk in a neighboring city. I'm always all for self-developing and going on adventures!</p>
<%- include("partials/footer"); -%>
