<%- include("partials/header"); -%>
<h1>Contact me</h1>
<p class = "contacts"> <b>My email:</b> &nbsp diana.evtina@mail.ru </p>
<p class = "contacts"> <b>My vk: </b> &nbsp <a href="https://vk.com/id134374191"> https://vk.com/id134374191 </a></p>
<p class = "contacts"> <b>My github link: </b> &nbsp <a href="https://github.com/dianaevtina"> https://github.com/dianaevtina </a></p>
<p class = "contacts"> <b>My telegram: </b> &nbsp @amcp_girl </p>
<%- include("partials/footer"); -%>
